{{define "title"}}Create a New Book{{end}} {{define "main"}}
<form action="/book/create" method="POST">
  <div>
    <label>Title:</label>
    {{ with .Form.FieldErrors.title }}
    <label class="error">{{.}}</label>
    {{ end }}
    <input type="text" name="title" value="{{.Form.Title}}" />
  </div>
  <div>
    <label>Author:</label>
    {{ with .Form.FieldErrors.author }}
    <label class="error">{{.}}</label>
    {{ end }}
    <input type="text" name="author" value="{{.Form.Author}}" />
  </div>
  <!-- <div>
    <label>Delete in:</label>
    <input type="radio" name="expires" value="365" checked /> One Year
    <input type="radio" name="expires" value="7" /> One Week
    <input type="radio" name="expires" value="1" /> One Day
  </div> -->
  <div>
    <input type="submit" value="Add book" />
  </div>
</form>
{{end}}
